// Place all the styles related to the spreadsheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header { margin: 5% 0 2% 0;}
.center { text-align: center; }
.smalltable {
  padding: 0 20%;
  th {
    border: 1px solid rgb(209, 209, 209);
    text-align: center;
  }
}
